@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*vaariables login*/
:root {
    --login-bg: #f8f3ff;
    --title-bg: #9089cc;
    --light-pink: #e882e8;
    --image-bg: #eadbff;
    --button-bg: #674baf;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none !important;
    box-sizing: border-box;

}

body{
    min-height: 100vh;
    line-height: 1.5;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

body.hidden-scrolling{
	overflow-y: hidden;
}

/*-----------------------------------------------  LOGIN    --------------------------------------------------------*/



/*#c82548    #743695        #9A50A4  #ED4548*/
.body-login {
    /*100VH representaría el 100% de la altura de la ventana gráfica o la altura 
    completa de la pantalla*/
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    /*background: linear-gradient(100.83deg, #443880 -0.52%, #E02030 113.57%);*/
    /*background-image: linear-gradient(to top, #743695 0%,  #ED4548 100%);*/
    background-image: linear-gradient(to top, #8e44ad 0%, #c0392b 100%);
}

/*  EM: relativo al elemento padre.
     REM: relativo al elemento raíz (etiqueta HTML y en su defecto el tamaño que tenga configurado el navegador)
     %: relativo al elemento padre.
     VW: relativo al ancho de la ventana gráfica.
     VH: relativo a la altura de la ventana gráfica.*/
.login-container {
    height: 43em;
    width: 60em;
    margin: auto;
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}



.login-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--login-bg);

    border-radius: 10px 0 0 10px;
}

.image-container {
    width: 50%;
    padding: 2rem;
    background-color: var(--image-bg);
    box-sizing: border-box;
    border-radius: 0px 10px 10px 0px;

}

.titulo {
    padding-top: 50PX;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-bg);
}


.login-info-container p {
    font-size: 20px;
    margin-top: 1.5em;
}

.inputs-container {
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}

.input,
.btnlogin {
    width: 90%;
    height: 50px;
    font-size: 16px;
    margin-top: 20px;

}

.input {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;


}

.input:hover {
    border: 2px solid var(--button-bg);

}

.btnlogin {
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    background-color: var(--button-bg);
    cursor: pointer;

}

input~i {
    position: relative;
    left: 32px;
    top: 50%;

}

.inputs-container p {
    margin: 0;

}

.span {
    color: var(--light-pink);
    font-weight: 600;
    cursor: pointer;

}

.separador {
    width: 150px;
    height: 4px;
    background-color: #674baf;
    margin: 24px;
}

@media screen and (max-width:1000px) {
    .image-container {
        display: none;
    }

    .login-container {
        width: 70%;
        /* margin-top: 3rem;*/


    }

    .login-info-container {
        width: 100%;
        border-radius: 10px;
    }
}

@media screen and (max-width:650px) {
    .login-container {
        width: 90%;

    }
}

@media screen and (max-width:500px) {
    .login-container {
        height: 70%;
    }

    .login-info-container p {
        margin: 0;
    }
}


/*------------------------------------------------------------------------------------------------------------------*/


/*--------------------------------- FOOTER----------------------------------------------------*/

.pie-pagina{
    width: 100%;
    background-color: #202020;
  
    position: absolute;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #101010;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #7851c0;
}
.pie-pagina .grupo-2{
    background-color: #101010;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

/* ---------------------------------------------------------FIN FOOTER----------------------------------------------*/
/*----------------------------------------------- header------------------------------------------------------------------------*/

/*asjkdhnasjkdbjkashbdjhkasbdjhasdbhjkasbdjhasbdjhsabdjhasbdhjasbdjhasbdjhasbdhjbsadjhbashjdbasjhdbhjasd*/

 
/*----------------------------fin header-----------------------------------------------------------*/

/*---------------------------pagina procesados------------------------------------*/
.centrado {
    text-align: center;
    vertical-align: middle;
}

.container-form {
    width: 59em;
    margin: auto;
    height: 53em;
    padding-top: 28px;

    background: #EDEDED;
    border-radius: 30px;

    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.container-form h1 {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 600;
}

.inputs-form-inicio {
    /* border: 1px solid red;*/
    padding-top: 10px;
    /*display: flex;*/
    justify-content: center;
    padding-bottom: 15px;
    margin-left: 4.8em;
}

.inputs-form-manual{
    /* border: 1px solid red;*/
    padding-top: 10px;
    /*display: flex;*/
    justify-content: center;
    padding-bottom: 15px;
    margin-left: 4.8em;
    
}
.inputs-form-manual form{
    width: 50em;
    background: #e0e0e0;
    background: rgb(212, 212, 212);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    
}

.pad-top{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 65px;

}

.inputs-form-inicio label {
    padding-left: 15px;
    padding-right: 10px;
    font-size: 20px;
}

.inputs-form-inicio form {
    width: 50em;
    background: #e0e0e0;
    background: rgb(212, 212, 212);
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.select-search {
    width: 150px;
}

/*.btn-buscar{
    width: 15%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    background-color: #6053db;/*cambiar color asjkdnsjkadnjkasdnkasjdnjkasndjkasd
    cursor: pointer;
   
    margin: 25px;

    
}*/

/*--------------------------------------------  BOTON    -----------------------------------------------------*/
.btn-buscar {
    padding: 1em 2em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #8e44ad;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 25px;
}

.btn-buscar:hover {
    background-color: #d63248;
    box-shadow: 0px 15px 20px rgba(224, 70, 103, 0.226);
    color: #fff;
    transform: translateY(-7px);
}

.btn-buscar:active {
    transform: translateY(-1px);
}

/*asdasd*/

.btn-buscar-pro {
    padding: 1em 2em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #8e44ad;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 25px;
}

.btn-buscar-pro:hover {
    background-color: #d63248;
    box-shadow: 0px 15px 20px rgba(224, 70, 103, 0.226);
    color: #fff;
    transform: translateY(-7px);
}

.btn-buscar-pro:active {
    transform: translateY(-1px);
}

/*--------------------------INPUTS ------------------------------------------------------------*/
.input-wrapper {
    float: left;
}

.input-wrapper input {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1.1rem;
    width: 13em;
    border-radius: 1rem;
    color: #8e44ad;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    outline: none;
}

.input-wrapper input:focus {
    outline-color: #8e44ad;
}

/*---------------------------------- SELECT -------------------------------------------------------------------*/

.content-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


/* Eliminamos la fecha que por defecto aparece en el desplegable */
.content-select select::-ms-expand {
    display: none;
}

.content-select {
    width: 14em;
    position: relative;
    float: left;
    padding-left: 15px;
    margin: 20px;
}

.content-select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 10px;
    height: 48px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #f0f0f0;
    color: #8e44ad;
    font-size: 1.1em;
    box-shadow: 0 0.4rem #dfd9d9;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

.content-select select:hover {
    border: 2px solid #8e44ad;
    border-radius: 12px;
}

/* 
Creamos la fLecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.content-select i {
    position: absolute;
    right: 20px;
    top: calc(50% - 13px);
    width: 16px;
    height: 16px;
    display: block;
    border-left: 4px solid #8e44ad;
    border-bottom: 4px solid #8e44ad;
    transform: rotate(-45deg);
    /* Giramos el cuadrado */
    transition: all 0.25s ease;
}

.content-select:hover i {
    margin-top: 3px;
}

/*----------------------tabla-------------------------------------------------*/

.container-table {
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.container-table h2 {
    padding-bottom: 25px;
}

table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: #8e44ad;
    width: 90%;
    margin-left: 3em;
   }
  .tbl-content{
    width: 90%;
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid #8e44ad;
    margin-left: 3em;
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }


tbody tr:hover{
    background: #b9b9b979;
}

.buttonDownload {
    display: inline-block;
    position: relative;
    padding: 10px 25px;
    background-color: var(--button-bg);
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
    text-indent: 15px;
    border: none;
   }
   
   .buttonDownload:hover {
    background-color: var(--button-bg);
    color: white;
   }
   
   .buttonDownload:before, .buttonDownload:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
   }
   
   .buttonDownload:before {
    width: 10px;
    height: 2px;
    border-style: solid;
    border-width: 0 2px 2px;
   }
   
   .buttonDownload:after {
    width: 0;
    height: 0;
    margin-left: 3px;
    margin-top: -7px;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;
    animation: downloadArrow 1s linear infinite;
    animation-play-state: paused;
   }
   
   .buttonDownload:hover:before {
    border-color: var(--title-bg);
   }
   
   .buttonDownload:hover:after {
    border-top-color: var(--title-bg);
    animation-play-state: running;
   }
   
   @keyframes downloadArrow {
    0% {
     margin-top: -7px;
     opacity: 1;
    }
   
    0.001% {
     margin-top: -15px;
     opacity: 0.4;
    }
   
    50% {
     opacity: 1;
    }
   
    100% {
     margin-top: 0;
     opacity: 0.4;
    }
   }


/*---------------------------procesar todos ---------------*/



/*----------------------------------FIN TABLA  -----------------------------*/


.bk {
    height: 108vh;
    display: block;
    background: #f3f3f3;
    padding-top: 7em;
    
}

@media screen and (max-width:1885px) {

    .bk {
        height: 65em;
    }
}


@media screen and (max-width:1600px) {
    .container-form {
        width: 59em;
        margin-top: 5px;
    }
    .bk {
        height: 65em;
    }
}


@media screen and (max-width:1500px) {
    .container-form {
        width: 59em;
        margin-top: 5px;
    }

}

@media screen and (max-width:1000px) {
    .container-form {
        width: 48em;
        margin-top: 5px;
    }


    .inputs-form-inicio form {
        width: 40em;
    }
    .inputs-form-manual form {
        width: 40em;
    }

    .content-select {
        width: 14em;
    }

    .input-wrapper input {
        width: 10em;
    }
   
}

@media screen and (max-width:850px) {
    .container-form {
        width: 44em;
    }
    .inputs-form-inicio{
        margin-left: 2em;
    }
    .inputs-form-manual{
        margin-left: 2em;
    }
    .tbl-header{
        width: 87%;
    }
    .tbl-content{
        width: 87%;
    }
    .buttonDownload {
        padding: 8px 15px;
    }


}
@media screen and (max-width:760px) {
    .container-form {
        width: 40em;
        height: 53em;
        margin-top: 5px;
   
    }

    .inputs-form-inicio form {
        width: 36em;
    }
    .inputs-form-manual form {
        width: 36em;
    }

    .content-select {
        width: 11em;
    }
    .content-select  select{
        font-size: 14px;
    }

    .input-wrapper input {
        width: 9.8em;
    }
    .tbl-header{
        width: 87%;
        margin-left: 2.5em;
    }
    .tbl-content{
        width: 87%;
        margin-left: 2.5em;
    }

}

@media screen and (max-width:650px) {
    .container-form {
        width: 80%;
        height: 54em;
    }
    .bk {
        height: 62em;
    }

    .inputs-form-manual form{
        width: 28em;
        height:6em;
    }

    .tbl-content{
        border: none;
        height: 390px;
    }

    table >tbody{
        width: 100%;
    }
    table > thead > tr > th{
        display: none;
    }
    table > tbody > tr > td{
        display: block;
        width: 100%;
        text-align: right;
        margin: 0;
        padding: 6px;
        border-spacing: 0;
    }
    table > tbody > tr > td::before{
        content: attr(data-label);
        display: inline;
        float: left;
        padding: 7px;
        margin: -5px;
        background-color: #8e44ad;
        border-collapse: collapse;
        border-spacing: 0;
        font-size: 14px;
        color: var(--login-bg);
        width: 33%;
        text-align: left;
    }
    .buttonDownload {
        padding: 5px 30px;
    }


    .inputs-form-inicio form {
        width: 18em;
        height: 15em;
        display: inline-block;  
        margin-left: 5em;
    }
    .pad-top{
        padding-right:0px;
    }
    .content-select {
        width: 13.5em;
        padding-left: 25px;
    }
    .inputs-form-inicio .btn-buscar{
        margin: auto;
        margin-left: 7em;
    }

    .input-wrapper input {
        width: 11em;
        margin-left: 2.5em; 
    }
    .content-select  select{
        font-size: 1.1em;
    }
    .container-form {
        width: 90%;

        height: 65em;
    }
    .bk {
        height: 80em;
    }
}
@media screen and (max-width:542px){
    .inputs-form-manual form{
        width: 25em;
        height:6em;
    }
    .inputs-form-inicio form {

        margin-left: 4em;
    }

    
}

@media screen and (max-width:480px){
    .inputs-form-manual form{
        width: 23em;
        height:6em;
    }
    .inputs-form-inicio form {

        margin-left: 3em;
    }

    
}

@media screen and (max-width:450px){
    .inputs-form-manual form{
        width: 22em;
        height:6em;
    }
    .inputs-form-inicio form {

        margin-left: 2em;
    }

    
}

@media screen and (max-width:412px){
    .inputs-form-manual form{
        width: 19em;
        height:10em;
        display: inline-block;
    }
    .inputs-form-inicio form {

        margin-left: 1em;
    }
    .btn-buscar-pro {
        margin: auto;
        margin-top: 15px;
        margin-left: 7em;
    }
}

@media screen and (max-width:528px){
    table > tbody > tr > td::before{
        margin: -5px;
        font-size: 14px;
        width: 34%;
    }
    
}


@media screen and (max-width:504px) {
    .container-form {
        width: 90%;

        height: 69em;
    }
    .bk {
        height: 78em;
    }

   
    .tbl-content{
    width: 90%;
   

    margin-left: 1em;
    }


    table > tbody > tr > td::before{

        padding: 7px;
        margin: -5px;
        font-size: 11px;

        width: 33%;

    }
    .buttonDownload {
        padding: 5px 30px;
    }

    .inputs-form-inicio form {
        width: 18em;
        height: 15em;
        display: inline-block;
        
        
    }

    .content-select {
        width: 14em;
        padding-left: 25px;
        
        
    }
    .inputs-form-inicio .btn-buscar{
        margin: auto;
        margin-left: 7em;
    }

    .input-wrapper input {
        width: 10em;
        margin-left: 3em;
       
    }


}
@media screen and (max-width:393px){
    table > tbody > tr > td::before{

 
        margin: -5px;
        font-size: 11px;

        width: 34%;

    }
    .container-form {
        width: 90%;

        height: 69em;
    }
    .bk {
        height: 78em;
    }
    
}

@media screen and (max-width:380px){
    table > tbody > tr > td::before{
        width: 38%;
    } 
    .container-form {
        width: 90%;

        height: 69em;
    }
    .bk {
        height: 78em;
    }
    .inputs-form-inicio form {

        margin-left:-0.5em;
    }
    .inputs-form-manual form{
        margin-left:-1em;
    }
}
@media screen and (max-width:360px){
    table > tbody > tr > td::before{
        font-size: 11px;
        width: 38%;

    }

    .buttonDownload {
        padding: 5px 15px;
    }

    .inputs-form-manual form{
        width: 17em;
        height:10em;
        display: inline-block;
    }
    .inputs-form-inicio form {
        width: 17em;
        margin: auto;
        
    }
    .btn-buscar-pro {
        margin: auto;
        margin-top: 15px;
        margin-left: 7em;
    }
    .container-form {
        width: 90%;

        height: 69em;
    }
    .bk {
        height: 78em;
    }

    
}

/*----------------------------------------fin procesos------------------------------------------*/

/*------------------------------------------------ pagina homeinfo-----------------------------------------------------------------------------------------------*/




.containercentrado {
    display: flex;
    justify-content: center;
    padding-bottom: 15em;
}

.container1 {
    width: 40em;
    height: 35em;
    background: #ebe9e9;
    margin-top: 49px;
    padding-top: 25px;
    border-radius: 30px 0px 0px 30px;
    float: left;
    /* margin-left: 3em;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}
.container2 {
    width: 28em;
    height: 35em;
    background: #ebe9e9;
    margin-top: 49px;
    border-radius: 0px 30px 30px 0px;
    float: left;
    /* margin-left: 3em;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}

.homeinfo-container{
    width: 28em;
    height: 35em;
    background-color: var(--image-bg);
    border-radius: 0px 30px 30px 0px;

}

.cont-cliente {
    width: 30em;
    margin-top: 3em;
    margin-left: 5em;
}

.infocliente {
    margin-top: 15px;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 6px;

}

.container1 h1 {
    margin-bottom: 25px;
}

.infocliente a {

    font-weight: 600;
    display: flex;
    justify-content: space-between !important;/*asdnmkasdbkasbdasbdasdasdasdasdsadasdasdasdasdasdasdasdsadsdsadasd*/
    
}

.ctacli{
    color: #212529;
    text-decoration: none !important;
}

.ctaclie{
    color: #212529;
    text-decoration: none !important;
}
.ctacli:hover{
    color: #212529;
    text-decoration: none !important;
}
.ctaclie:hover{
    color: #212529;
    text-decoration: none !important;
}
.infocliente:hover {
    background: #c4c4c4;
}

.infocliente a:hover {
    border: none
}


.borde0 {
    background-color: #714B67;
    color: #fff;
    padding: .5em 1em;
    font-size: 0.75rem;
    font-weight: 600;
    border-radius: 10rem;
    line-height: 1;
}

.separadorcen {
    width: 300px;
    height: 4px;
    background-color: #674baf;

    margin: auto;
}

.detallecuenta {
    margin: auto;
    margin-top: 40px;
    width: 20em;

}

.detallecuenta i {
    color: #674baf;
    
}

.detallecuenta button{
    width: 20em;
    height: 3em;
    font-size: 17px;
    font-weight: 600;
    background: #ffffff;
    border: none;
    border-radius: 6px;
   
}

.detallecuenta button:hover{
   background: linear-gradient(to left, #8e44ad 0%, #c0392b 100%);
    color: #fff;
}





@media screen and (max-width:1600px) {
    .container1{
        width: 30em;
    }

    .cont-cliente{
        width: 20em; 
    }

}


@media screen and (max-width:1500px) {

    .container1{
        width: 25em;
       
     }
    
    .cont-cliente{
        width: 18em;
        margin-left: 3em;   
    }

    .detallecuenta{
        margin-left: 4em;
    }
    .detallecuenta button{
        width: 15em;
    }
}
.bkcont{
    height: 100vh;
    /*
    background-image: linear-gradient(#193144 ,#325d7f ,#6e597d  ,#c17186 ,#f57081 , #f9b296  );

*/
    background: #f3f3f3;
    padding-top: 150px;
}

@media screen and (max-width:1000px) {

    .container1{
        border-radius: 30px;
    }
    .container2{
        display: none;
    }   
    .cont-cliente{
        width: 20em;
        
        
    }
}

@media screen and (max-width:850px) {
    .containercentrado{
        padding-left: 9em;
        display: inline-block;

    }
    .bkcont{
        height:89em;
    }
    .container1{
      
        width: 25em;   
     }
    
    .cont-cliente{
        width: 18em;
        margin-left: 3em;   
    }

    .detallecuenta{
        margin-left: 4em;
    }
    .detallecuenta button{
        width: 15em;
    }

}

@media screen and (max-width:650px) {

    .containercentrado{
        padding-left: 5em;
        

    }
}
@media screen and (max-width:560px){
    .containercentrado{
        padding-left: 2em;
       

    }
}


@media screen and (max-width:500px) {
    .containercentrado{
        padding-left: 1em;
       

    }
   
    .container1{
      
        width: 20em;
          
     }
    
    .cont-cliente{
        width: 17em;
        margin-left: 2em;   
    }

    .detallecuenta{
        margin-left: 2em;
    }
    .detallecuenta button{
        width: 13em;
    }


}



/*-----------------------------------------------------MODAL----------------------*/

.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.amodal{
    width: 50%;
    height: 60%;
    background: #fff;
    text-align: center;
    /*display: flex;*/
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
    border-radius: 10px;
}
.amodal h2{
    text-align: center;
}


.modal-close{
    transform: translateY(-200%);
}

.close{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #c44a4a;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 40%;
    
}


.modal-texto{
padding-top: 15px;
}

.inputdetalle{
    background-color: #eee;
    font-size: 1.1rem;
    width: 22em;
    height: 40px;
    border-radius: 10px;
    color: #8e44ad;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    outline: none !important;
    border: 1px solid #8e44ad;
    background-color: #eee;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0.4rem #dfd9d9;
    border: 1px solid #8e44ad;
    padding-left: 6px;
    

}


form .grupo{
    margin: 25px;
}


form label{
    font-size: 1.2em;
    color: #674baf;
    width: 200px;
   /* background: aqua;*/
    
}

.detalleform{
    margin-top: 30px;
}



@media screen and (max-width:1600px) {
    .amodal{
        width: 50%;
    }

}


@media screen and (max-width:1283px) {
    .amodal{
        width: 60%;
    }
}


@media screen and (max-width:1080px) {
    .amodal{
        width: 70%;
    }

}

@media screen and (max-width:916px) {

    .inputdetalle{
        width: 20em;
        font-size: 15px;
    }
}

@media screen and (max-width:790px) {
    .inputdetalle{
        width: 19em;
        font-size: 13px;
    }
    form .grupo{
        margin: 25px;
    }
    form label{
        font-size: 15px;
    }


}
@media screen and (max-width:717px){
    .amodal{
        height: 69%;
    }
}







/*------------------------Fin modal-----------------------*/

/*---------------------------------------tabla cliente------------------- */

.cont-cli-table{
    width: 90%;
    margin: 0px auto;
    margin-top: 35px;
}

.body-tablecli{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid #8e44ad;
}

.tbl-header-cli{
    background-color: #8e44ad;
    margin-left: 3em;
}

.btn-cli-boleta{
    padding: 0.4em 1.4em;
    background: #8e44ad;
    color: #fff;
    font-size: 15px;
    border-radius: 0.5em;
}


/*---------------------------------------------------------------*/

.comentario{
    display:flex;
    background-color:rgba(0, 0, 0, 0.3) ;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.show{
    pointer-events: auto;
    opacity: 1;
}

.com{
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0,0,0,0.2);
    text-align: center;
}

.comentario h2{
    color: #674baf;
}
.com .btn{
    background-color: #674baf;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0,0,0,0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
}



.contenedor-2{
    width: 500px;
    height: auto;
    background-color: rgba(131, 131, 131, 0.7);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px 20px 30px 20px;
    gap: 20px;
    text-transform: capitalize;
    border-radius: 20px;
    opacity: 0;
}

.comentarioa{
    background-color: rgb(255, 255, 255, 0.7);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 20px;
    border-radius: 20px;
    color: black;

}
.input-com{
    width: 500px;
    height: 100px;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 5px;

}

#nuevoComentario{
    /*outline: none;*/
    border: 0;
    width: 100%;
    height: 50px;
    padding: 0px 10px 0px 10px;
    font-size: 15px;

}

#nuevoComentario::placeholder{
    color: #000000;

}

.borra{
    font-size: 12px;
    position: absolute;
    right: 780px;
    width: 20px;
    z-index: 20;
    transition-duration: 200ms;
    display: block;
    cursor: pointer;
    color: red;
}

/*--------------------------------------------------registro Cliente----------------------------*/


.container-form1{
    width: 65em;
    margin: auto;
    height: 47em;
    padding-top: 28px;

    background: #EDEDED;
    border-radius: 30px;

    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-top: 49px;

}
.form-reg{
    width: 100%;
    margin: auto;
}
.form-reg h1{
    text-align: center;
    font-weight: 600;
    padding-bottom: 15px;
}

.form-cont{
    background: transparent;
    padding: 40px 0;
    border-radius: 10px;
    margin-left: 4em;
}

.form-cli{
    position: relative;
    margin: 45px;
}

.form-registro{
    background: #fff;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgb;
}


.input-registro{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #674baf;
}

.input-registro:focus{
    outline: none;
    color: #5e5d5d;
}

.label-registro{
    color: #616161;
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;

}

.input-registro:focus~.label-registro,
.input-registro:valid~.label-registro{
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(100.83deg, #443880 -0.52%, #E02030 113.57%);
    transition: 0.3s ease width;
    
}

.input:focus~.barra::before{
    width: 100%;

}

.btn-registrar{
    border-radius: 5px ;
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    background: #8e44ad;
}






@media screen and (max-width:1000px) {

    .login-container {
        width: 70%;
        /* margin-top: 3rem;*/


    }

    .container-form1 {
        width: 50%;
        border-radius: 10px;
    }

    .form-cont{
        margin-left: 0px;
    }
    .btn-registrar{
       margin-left: 20px;
       
    }

   
}

@media screen and (max-width:850px) {

    .container-form1 {
        width: 60%;
     
    }

}


@media screen and (max-width:650px) {
    .container-form1 {
        width: 69%;
     
    }
   
}
@media screen and (max-width:542px){

    .container-form1 {
        width: 70%;
     
    }
    .form-cont{

        margin-left:0;
    }
    .form-reg h1{
        text-align: left;
        
    }


    .form-cli{
        position: relative;
        margin: 0;
        margin-top: 40px;
        
    }

    .btn-registrar{
        margin-top: 30px;
        margin-left: 5px;
       
    }
}

@media screen and (max-width:480px){
    .container-form1 {
        width: 79%;
     
    }
    .form-cli{
        position: relative;
        margin: 0;
        margin-top: 30px;

    }

    .btn-registrar{
        margin-top: 30px;
       
    }
    
}


/*68465464hjutdrftgddddddddddddddddddddddddddddddddddddddddddddddddddd*/





.container-nav{
	width: 100%;
	margin:auto;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
/*header*/
.header{
	position: absolute;
	width: 100%;
	left:0;
	top:0;
	z-index: 99;
	/*padding: 15px;*/
}
.header-main{
	background-color: #2c2d2e;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	/*border-radius: 4px;*/
}
.header .logo{
	padding: 0 15px;
}
.header .logo a{
	font-size: 30px;
	text-transform: capitalize;
	color: #e91e63;
	font-weight: 600;
}
.header .nav-menu{
	padding: 0 15px;
}
.header .menu > .menu-item{
	display: inline-block;
	margin-left: 30px;
	position: relative;
}
.header .menu > .menu-item > a{
	display: block;
	padding: 12px 0;
	font-size: 16px;
	color: #ffff;
	text-transform: capitalize;
	font-weight: 600;
	transition: all 0.3s ease;
}
.header .menu > .menu-item > a .plus{
	display: inline-block;
	height: 12px;
	width: 12px;
	position: relative;
	margin-left:5px; 
	pointer-events: none;
}
.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after{
	content:'';
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	top:50%;
	background-color: #fff;
	height: 2px;
	width: 100%;
	transform: translate(-50%,-50%);
	transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after{
   background-color: #e91e63;
}
.header .menu > .menu-item > a .plus:after{
   transform: translate(-50%,-50%) rotate(-90deg);	
}
.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a{
	color: #e91e63;
}
.header .menu > .menu-item > .sub-menu{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 220px;
	position: absolute;
	left:0;
	top:100%;
	background-color: #2c2d2e;
	padding: 10px 0;
	border-top: 3px solid #e91e63;
	transform: translateY(10px);
	transition: all 0.3s ease;
	opacity:0;
	visibility: hidden;
}
@media(min-width: 992px){
.header .menu > .menu-item-has-children:hover > .sub-menu{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
 }
 .header .menu > .menu-item-has-children:hover > a .plus:after{
    transform: translate(-50%,-50%) rotate(0deg);		
 }
}
.header .menu > .menu-item > .sub-menu > .menu-item{
	display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a{
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	transition: all 0.3s ease;
	text-transform: capitalize;
}
.header .open-nav-menu{
	height: 34px;
	width: 40px;
	margin-right: 15px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.header .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: #fff;
    position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	box-sizing: border-box;
}
.header .open-nav-menu span:before{
	top:-7px;
}
.header .open-nav-menu span:after{
	top:7px;
}
.header .close-nav-menu{
	height: 40px;
	width: 40px;
	background-color: #ffffff;
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.header .close-nav-menu img{
	width: 16px;
}
.header .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}

/*home section*/

.logoa{
    width: 200px;
}


/* responsive */

@media(max-width: 991px){
	.header .menu-overlay.active{
	visibility: visible;
	opacity: 1;
}
	.header .nav-menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 280px;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: #222222;
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
	}
	.header .nav-menu.open{
		visibility: visible;
		right: 0px;
	}
	.header .menu > .menu-item{
		display: block;
		margin:0;
	}
	.header .menu > .menu-item-has-children > a{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header .menu > .menu-item > a{
		color: #ffffff;
		padding: 12px 15px;
		border-bottom: 1px solid #333333;
	}
	.header .menu > .menu-item:first-child > a{
	    border-top: 1px solid #333333;	
	}
	.header .menu > .menu-item > a .plus:before, 
	.header .menu > .menu-item > a .plus:after{
		background-color: #ffffff;
	}
	.header .menu > .menu-item-has-children.active > a .plus:after{
        transform: translate(-50%,-50%) rotate(0deg);
	}
	.header .menu > .menu-item > .sub-menu{
		width: 100%;
		position: relative;
		opacity: 1;
		visibility: visible;
		border:none;
		background-color: transparent;
		box-shadow: none;
		transform: translateY(0px);
		padding: 0px;
		left: auto;
		top:auto;
		max-height: 0;
		overflow: hidden;
	}
	.header .menu > .menu-item > .sub-menu > .menu-item > a{
		padding: 12px 45px;
		color: #ffffff;
		border-bottom: 1px solid #333333;
	}
	.header .close-nav-menu,
	.header .open-nav-menu{
		display: flex;
	}
}



.containercron1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15em;
}

.container-actu-cron{
    width: 30em;
    height: 35em;
    background: #ebe9e9;
    margin-top: 49px;
    padding-top: 25px;
    border-radius:30px;
    float: left;
    margin-left: 3em;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;  */
}
.container-tablacron2{
    width: 50em;
    height: 35em;
    background: #ebe9e9;
    margin-top: 49px;
    border-radius:30px;
    float: left;
    margin-left: 3em;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;  */

}

.container-tablacron2 h2{
    padding-top: 15px;
    padding-bottom: 25px;
}



.bkcron {
    height: 108vh;
    display: block;
    background: #f3f3f3;
    padding-top: 7em;
   
    
}



@media screen and (max-width:1416px) {

    .container-tablacron2{
        width: 50em;
        
    }
}

@media screen and (max-width:1194px) {

    .containercron1{
        display: inline-block;
        padding-left: 15em;

    }

    .bkcron{
        height: 106em;
        
    }
    .container-tablacron2{
        width: 40em;
        
    }
    .a{
        padding-left: 5em;
    }


}

@media screen and (max-width:1038px) {

    .containercron1{
        display: inline-block;
        padding-left: 8em;

    }

    


}


@media screen and (max-width:866px) {

    .containercron1{
      
        padding-left: 4em;

    }

}

@media screen and (max-width:764px) {

    .containercron1{
      
        padding-left: 2em;

    }
    .container-tablacron2{
        width: 38em;
        
    }

}

@media screen and (max-width:706px) {

    .containercron1{
      
        padding-left: 1em;

    }
    .container-tablacron2{
        width: 35em;
        
    }
    .container-actu-cron{
        width: 25em;
    }

}
/*responsivo de tabla*/
@media screen and (max-width:640px) {


    .container-tablacron2{
        width: 30em;
        
    }
    .container-actu-cron{
        width: 25em;
    }
    .a{
        padding-left: 3em;
    }


}

@media screen and (max-width:560px) {


    .container-tablacron2{
        width: 30em;
        
    }
    .container-actu-cron{
        width: 25em;
    }
    .a{
        padding-left: 2em;
    }
    .containercron1{
      
        padding-left: 0.1em;

    }
        

}
