@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*vaariables login*/
:root{
    --login-bg:#f8f3ff;
    --title-bg: #9089cc;
    --light-pink: #e882e8;
    --image-bg: #eadbff;
    --button-bg: #674baf;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none !important;

}

nav{
    height: 80px;
    width: 100%;
    background: #343a40;
  


}

.logo{
    width: 200px;
    padding-left: 60px;
    padding-top: 10px;
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;

}

nav a{
    color: #fff !important;/*cambiar color  5555555555555555555555555555555555555*/
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;


}

a.active,a:hover{
    border: 1px solid #fff;
    transition: .5s;


}

nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;   
    display: none;
}

@media screen and (max-width: 1048px) {
    .logo{
        width: 200px;
        padding-left: 60px;
        padding-top: 10px;
    }

    nav ul{
        margin-right: 20px;

    }
    nav a {
        font-size: 17px;
    }
}

@media screen and (max-width: 909px) {
    nav #icon{
        display: block;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #674baf;/*cambiar color wjkansdjksnkasjdjkasdkasdksjadbskajdbk*/
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a {
        font-size: 20px;
    }
    a.active, a:hover{
        border: none;
        color: #743695 !important; /*cambiar color sjkdnkasjdnjkasdnksadnaskjdkasjdnjkasdnjkasdnjkasndjkasndjkasdnjkasnd*/
    }
    nav ul.show{
        left: 0;
        z-index: 1;
    }
}




/*#c82548    #743695        #9A50A4  #ED4548*/
.body-login{
   /*100VH representaría el 100% de la altura de la ventana gráfica o la altura 
   completa de la pantalla*/
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    /*background: linear-gradient(100.83deg, #443880 -0.52%, #E02030 113.57%);*/
    /*background-image: linear-gradient(to top, #743695 0%,  #ED4548 100%);*/
    background-image: linear-gradient(to top, #8e44ad 0%,  #c0392b 100%);
}

/*  EM: relativo al elemento padre.
    REM: relativo al elemento raíz (etiqueta HTML y en su defecto el tamaño que tenga configurado el navegador)
    %: relativo al elemento padre.
    VW: relativo al ancho de la ventana gráfica.
    VH: relativo a la altura de la ventana gráfica.*/
.login-container{
    height: 43em;
    width: 60em;
    margin: auto;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  
 
}

.login-info-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--login-bg);

    border-radius: 10px 0 0 10px;
}

.image-container{
    width: 50%;
    padding: 2rem;
    background-color: var(--image-bg);
    box-sizing: border-box;
    border-radius: 0px 10px 10px 0px;
    
}

.titulo{
    padding-top: 50PX;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-bg);
}


.login-info-container p{
    font-size: 20px;
    margin-top: 1.5em;
}

.inputs-container{
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}

.input, .btnlogin{
    width: 90%;
    height: 50px;
    font-size: 16px;
    margin-top: 20px;

}

.input  {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
  

}

.input:hover{
    border: 2px solid var(--button-bg);

}

.btnlogin {
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    background-color: var(--button-bg);
    cursor: pointer;
    
}
input ~ i {
    position: relative;
    left: 32px;
    top: 50%;

}

.inputs-container p{
   margin: 0;
   
}

.span {
    color: var(--light-pink);
    font-weight: 600;
    cursor: pointer;

}

.separador{
    width: 150px;
    height: 4px;
    background-color: #674baf;
    margin: 24px;
}

@media screen and (max-width:1000px){
    .image-container{
        display: none;
    }
    .login-container{
        width: 70%;
       /* margin-top: 3rem;*/
        

    }

    .login-info-container{
        width: 100%;
        border-radius: 10px ;
    }
}

@media screen and (max-width:650px) {
    .login-container{
        width: 90%;
      
    }
}

@media screen and (max-width:500px) {
    .login-container{
        height: 70%;
    }

    .login-info-container p{
        margin: 0;
    }
}




.centrado {
    text-align: center;
    vertical-align: middle;
}