{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>

    <!--datatable-->



    <title>Home</title>
</head>

<body>
    <header>
        <!-- <nav>
            <img src={% static 'img/roda-logo.png' %} alt="" class="logo">
            <ul>
                <li><a href="{% url 'homeinfo' %}">Inicio</a></li>
                <li><a class="boletas-info" href="{% url 'process' %}">Archivos a procesar</a></li>
                <li><a href="{% url 'processed' %}">Procesados</a></li>
                <li><a href="{% url 'Cliente' %}">Clientes</a>
                    <ul>
                        <li><a href="{% url 'modificarcliente' %}">Modificar</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'Usuarios' %}">Usuarios</a></li>
                <li><a  id="cerrarsession" href="#">Cerrar sesion</a></li>
            </ul>
            <label id="icon">
                <i class="fas fa-bars"></i>
            </label>
        </nav> -->

        <img src={% static 'img/roda-logo.png' %} alt="" class="logo">

        <input type="checkbox" id="menu-bar">
        <label for="menu-bar">Menu</label>

        <nav class="navbar">
            <ul>
                <li><a href="{% url 'homeinfo' %}">Inicio</a></li>
                <li><a class="boletas-info" href="{% url 'process' %}">Archivos a procesar</a></li>
                <li><a href="{% url 'processed' %}">Procesados</a></li>
                <li><a href="">Clientes +</a>
                    <ul>
                        <li><a href="{% url 'Cliente' %}">Registrar</a></li>
                        <li><a href="{% url 'modificarcliente' %}">Modificar</a></li>
                        <li><a href="{% url 'listarcliente' %}">Listar</a></li>
                    </ul>
                </li>

                <li><a href="">Usuarios +</a>
                    <ul>
                        <li><a href="{% url 'Usuarios' %}">Registrar</a></li>
                        <li><a href="{% url 'modificarusuario' %}">Modificar</a></li>
                        <li><a href="{% url 'listarusuarios' %}">Listar</a></li>
                    </ul>
                </li>
                <li><a  id="cerrarsession" href="#">Cerrar sesion</a></li>
            </ul>

        </nav>

    </header>

  
        {% block contenido %}
        {% endblock %}
   
        <!--FOOTER-->

    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src={% static 'img/roda-logo.png' %} alt="" width="200px">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Gestión del desempeño energético actual para establecer mejoras por medio de la implementación de proyectos y la gestión integral de los consumos.</p>
                
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="https://www.facebook.com/DuocUC.SedeVinadelMar" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/duoc_vina/" class="fa fa-instagram"></a>
                    <a href="https://twitter.com/DuocUC?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter"></a>
                    
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; <b>RODA ENERGIA</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>


    <script>
        $(window).on("load resize ", function () {
            var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
            $('.tbl-header').css({ 'padding-right': scrollWidth });
        }).resize();
    </script>

    <script type="text/javascript" src="{% static 'js/session.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/rol.js' %}"></script>  
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>
