{% extends 'frontend/base.html' %}
{% load static %}
{% block contenido %}


    <div class="bk">

        <div class="containercentrado">
            <div class="container1">
                
                <h1 class="centrado">Modificación de parametros</h1>
                <div class="separadorcen"></div>



                
            </div>

            <div class="container2">
                <h1 class="centrado">Información de proceso automatico</h1>

                <div class="container-table">
                <div class="table-responsive">
                    <div class="tbl-header">
                        <table cellpadding="0" cellspacing="0" border="0">
                          <thead>
                            <tr>
                                <th class="centrado">Hora luz</th>
                                <th class="centrado">Hora agua</th>
                                <th class="centrado">Hora gas</th>
                            </tr>
                          </thead>
                        </table>
                    </div>
                    <div class="tbl-content">
                        <table class="table table-striped" id = ""  cellpadding="0" cellspacing="0" border="0">
                            <tbody id = "">
    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        
            </div>

        </div>


        <div class="container-form">
        
            <h1 class="centrado">mostrar arhivos procesados en cron</h1>

            <div class="container-table">
                <div class="table-responsive">
                    <div class="tbl-header">
                        <table cellpadding="0" cellspacing="0" border="0">
                          <thead>
                            <tr>
                                <th class="centrado">Hora luz</th>
                                <th class="centrado">Hora agua</th>
                                <th class="centrado">Hora gas</th>
                            </tr>
                          </thead>
                        </table>
                    </div>
                    <div class="tbl-content">
                        <table class="table table-striped" id = ""  cellpadding="0" cellspacing="0" border="0">
                            <tbody id = "">
    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            

        </div>

    </div>

{% endblock %}
