{% extends 'frontend/base.html' %}
{% load static %}
{% block contenido %}


    <div class="bk">


        <div class="container-form">
        
            <h1 class="centrado">mostrar arhivos procesados en cron</h1>
            <div class="inputs-form-inicio">

                <form action="">

                    <button  id="" type="submit" class="btn-buscar">Mostrar proceso completo</button>

                </form>

            
            </div>

            <div class="container-table">
                <div class="table-responsive">
                    <div class="tbl-header">
                        <table cellpadding="0" cellspacing="0" border="0">
                          <thead>
                            <tr>
                                <th class="centrado">id_doc</th>
                                <th class="centrado">dos.docName</th>
                                <th class="centrado">doc.folio</th>
                                <th class="centrado">hora_actual</th>
                                


                            </tr>
                          </thead>
                        </table>
                    </div>
                    <div class="tbl-content">
                        <table class="table table-striped" id = ""  cellpadding="0" cellspacing="0" border="0">
                            <tbody id = "">
    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            

        </div>

    </div>

{% endblock %}
