{% extends 'frontend/base.html' %}
{% load static %}
{% block contenido %}


    <div class="bkcron">

        <div class="containercron1">
            <div class="a">
                <div class="container-actu-cron">
                
                
                    <h2 class="centrado">Actualización de parametros</h2>
                    <div class="separadorcen"></div>  
                            
                        <form action="">
                            
                            <div class="form-cli">
                                <label for="">Fecha</label>
                                <input class="input-registro" type="date" name="" id="" required><span class="barra"></span>
                                
                            </div>
                            <div class="form-cli">
                                <label for="">Hora</label>
                                <input class="input-registro" type="time" name="" id="" required><span class="barra"></span>
                                
                            </div>
                            <button class="btn-registrar">Registrar</button>
                        </form>
    
                </div>

            </div>


            <div class="container-tablacron2">
                <h2 class="centrado">Información de proceso automatico</h2>
                
                
                <textarea class="textareacron" name="comentario" rows="10" cols="50" readonly></textarea>
            </div>
            

        </div>

    </div>

{% endblock %}
