{% extends 'frontend/base.html' %}
{% load static %}
{% block contenido %}

    <div class="bkcont">
        <div class="containercentrado">
            <div class="container1">
                
                <h1 class="centrado">Información</h1>
                <div class="separadorcen"></div>

                
                <div class="cont-cliente">
                    <div class="infocliente">
                        <a class="ctaclie" href="{% url 'listarusuarios' %}">Usuarios<span id="totalusuarios" class="borde0">0</span></a>
                    </div>
                    <div class="infocliente">
                        <a class="ctaclie" href="{% url 'listarcliente' %}">Clientes<span id="totalclientes" class="borde0">0</span></a>
                    </div>
                    <div class="infocliente">

                        <a class="ctacli">Sucursales<span class="borde0" id ="totalSucur">0</span></a>

                    </div>
                    <div class="infocliente">

                        <a class="ctaclie" href="{% url 'processed' %}">Boletas<span id="totalboletas" class="borde0">0</span></a>

                    </div>

                </div>

                
            </div>

            <div class="container2">
                <img class="homeinfo-container" src={% static 'img/homeinfo.svg' %} alt="">
        
            </div>

        </div>

    </div>


<!--Modal para visualizar los clientes -->
        <div class="modal-container">
                
            <div class="amodal modal-close">
                <p class="close">X</p>
                <div class="modal-texto">
                    <h2>Visualización de Sucursales </h2>
                    <div class="container-table">
                        <div class="table-responsive">
                            
                            <div class="tbl-header">
                                <table cellpadding="0" cellspacing="0" border="0">
                                    <thead>
                                        <tr>
                                            {% comment %} <th >#</th> {% endcomment %}
                                            <th class="centrado">Nombre sucursal</th>
                                            {% comment %} <th class="centrado">Sucursal</th> {% endcomment %}
                                            <th class="centrado">Direccion</th>
                                            <th class="centrado">Comuna</th>
                                            <th class="centrado">Cliente</th>

                                            {% comment %} <th >Rut cliente</th> {% endcomment %}
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tbl-content">
                                <table class="table table-striped" cellpadding="0" cellspacing="0" border="0">
                                    <tbody id = "tbodySucursales">
                                        {% comment %} <tr>
                                            <td>AAC</td>
                                            <td>AUSTRALIAN COMPANY </td>
                                            <td>$1.38</td>
                                            <td>+2.01</td>
                                            <td>-0.36%</td>
                                        </tr> {% endcomment %}
                                                                
                                        {% comment %} <td class="centrado"> 1 </td> {% endcomment %}
        

                                
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            
        </div>

<!--Modal para realizar los comentarios-->   
    <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/inicio.js' %}"></script>


{% endblock %}