{% extends 'frontend/base.html' %} {% load static %} {% block contenido %}


<div class="bk-listar">
    <div class="container-form-listar">
        <h1 class="centrado">Listar Plantillas</h1>
        <div class="inputs-form-inicio">

            <form action="">
                <div class="input-wrapper">
                    <input class="input" id="plantillas" name="text" placeholder="plantillas" type="text">
                </div>

                <button id="buscarplantilla" type="submit" class="btn-buscar">Buscar</button>
            </form>

        </div>
        <div class="container-table">
            <div class="table-responsive">
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                {% comment %}
                                <th>#</th> {% endcomment %}
                                <th class="centrado" hidden>id</th>
                                <th class="centrado">nom_doc</th>
                                <th class="centrado">queries_config</th>
                                <th class="centrado">tablas_config</th>
                                <th class="centrado">fecha_creacion</th>
                                <th class="centrado">proveedor</th>
                                <th class="centrado">Modificar sucursal
                                    <!--<th class="centrado">Modificar sucursal</th>
                                <th class="centrado">Modificar Estado</th>-->
                                    {% comment %}
                                    <th>Rut cliente</th> {% endcomment %}
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="container-table">
                    <div class="table-responsive">
                        <div class="tbl-content">
                            <table class="table table-striped" cellpadding="0" cellspacing="0" border="0">
                                <tbody id="tbodyProcessed">
                                    {% comment %}
                                    <tr>
                                        <td>AAC</td>
                                        <td>AUSTRALIAN COMPANY </td>
                                        <td>$1.38</td>
                                        <td>+2.01</td>
                                        <td>-0.36%</td>
                                    </tr> {% endcomment %} {% comment %}
                                    <td class="centrado"> 1 </td> {% endcomment %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--Modal para realizar los comentarios-->
                <!--<script type="text/javascript" src="{% static 'js/modal.js' %}"></script>-->
                <script type="text/javascript" src="{% static 'js/listarplantillas.js' %}"></script>
                {% endblock %}