{% extends 'frontend/base.html' %}
{% load static %}
{% block contenido %}

    <div class="bk-log">

        <div class="container-form-log">
            <div class="a">
                <div class="container-filtros-log">
                
                
                    <h2 class="centrado">Filtros Historial</h2>
                    <!-- <div class="separadorcen"></div>   -->
                        <form action="">
                            
                            <div class="form-log">
                                <label for="">Metodo</label>
                                <input class="input-log" type="text" name="" id="fl_Metodo"><span class="barra"></span>
                                
                            </div>
                            <div class="form-log">
                                <label for="">ID log</label>
                                <input class="input-log" type="text" name="" id="fl_IDlog"><span class="barra"></span>
                                
                            </div>
                            <div class="form-log">
                                <label for="">ID usuario</label>
                                <input class="input-log" type="text" name="" id="fl_IDUser"><span class="barra"></span>
                                
                            </div>
                            <div class="form-log">
                                <label for="">Cliente</label>
                                <input class="input-log" type="text" name="" id="fl_Cliente"><span class="barra"></span>
                                
                            </div>

                            <div class="form-log">
                                <label for="">Cod estado</label>
                                <input class="input-log" type="text" name="" id="fl_StatusCode"><span class="barra"></span>
                                
                            </div>
                            
                            <div class="form-log">
                                <label for="">fecha</label>
                                <input class="input-log" type="date" name="" id="fl_fecha"><span class="barra"></span>
                                
                            </div>
                            <div class="form-log">
                                <button id= "buscarDocs" class="btn-log">Buscar</button>
                                
                            </div>
                            
                        </form>
    
                </div>

            </div>


            <div class="container-tablalog">
                <h2 class="centrado pad-log">Historial</h2>
                

                <div class="container-table">
                    <div class="table-responsive">
                        <div class="tbl-header">
                            <table cellpadding="0" cellspacing="0" border="0">
                            <thead class="tbl-header">
                                <tr>
                                    <th class="centrado">ID log</th>
                                    <th class="centrado">ID usuario</th>
                                
                                    <th class="centrado">Cliente</th>
                                   
                                    <th class="centrado">Status code</th>
                                    <th class="centrado">Fecha</th>
                                
                                </tr>
                            </thead>
                            </table>
                        </div>
                        <div class="tbl-content">
                            <table class="table table-striped" id = ""  cellpadding="0" cellspacing="0" border="0">
                                <tbody id="tbl-content">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn-log-sig" >Siguiente</button>
                    <button class="btn-log-sig">Anterior</button>
                </div>
            </div>
        </div>
    </div>


    <div class="creden-container">
                
        <div class="credenmodal credenmodal-close">
            <p class="credenclose">X</p>
            <div class="credenmodal-texto">
                <h2>Registro de credenciales </h2>
                <form action="" class="cre-form">
                    <label for="">Crendenciales</label>
                    <input type="file" id="cred">
                    <button id="registrarCred" class="btn-registrar">Actualizar credenciales</button>
                </form>

            </div>
        </div>
    </div>

    <script>
                
        let modalcerrar =document.querySelectorAll(".credenclose")[0];
        let modalcreden =document.querySelectorAll(".credenmodal")[0];
        let credenmodalc =document.querySelectorAll(".creden-container")[0];
        let abrirmodal =document.querySelectorAll(".cre")[0];



        abrirmodal.addEventListener("click", function(e){
            e.preventDefault();

            credenmodalc.style.opacity = "1";
            credenmodalc.style.visibility = "visible";
            modalcreden.classList.toggle("credenmodal-close");

        });



        modalcerrar.addEventListener("click", function(){
            modalcreden.classList.toggle("credenmodal-close");

            setTimeout(function() {
                credenmodalc.style.opacity = "0";
                credenmodalc.style.visibility = "hidden";
            }, 600);

        });

    </script>

    <script type="text/javascript" src="{% static 'js/log.js' %}"></script>

{% endblock %}