{% extends 'frontend/base.html' %}
{% load static %}
{% block contenido %}

    <div class="bk-log">

        <div class="container-form-log">
            <div class="a">
                <div class="container-filtros-log">
                
                
                    <h2 class="centrado">Filtros Historial</h2>
                    <div class="separadorcen"></div>  
                        <form action="">
                            
                            <div class="form-log">
                                <label for="">Metodo</label>
                                <input class="input-log" type="text" name="" id="" required><span class="barra"></span>
                                
                            </div>
                            <div class="form-log">
                                <label for="">ID log</label>
                                <input class="input-log" type="text" name="" id="" required><span class="barra"></span>
                                
                            </div>
                            <div class="form-log">
                                <label for="">ID usuario</label>
                                <input class="input-log" type="text" name="" id="" required><span class="barra"></span>
                                
                            </div>
                            <div class="form-log">
                                <label for="">Cliente</label>
                                <input class="input-log" type="text" name="" id="" required><span class="barra"></span>
                                
                            </div>

                            <div class="form-log">
                                <label for="">Cod estado</label>
                                <input class="input-log" type="text" name="" id="" required><span class="barra"></span>
                                
                            </div>
                            
                            <div class="form-log">
                                <label for="">fecha</label>
                                <input class="input-log" type="date" name="" id="" required><span class="barra"></span>
                                
                            </div>
                            <div class="form-log">
                                <button class="btn-log">Buscar</button>
                                
                            </div>
                            
                        </form>
    
                </div>

            </div>


            <div class="container-tablalog">
                <h2 class="centrado pad-log">Historial</h2>
                

                <textarea name="comentario" rows="5" cols="50"></textarea>
            </div>
        </div>
    </div>

{% endblock %}