{% extends 'frontend/base.html' %}
{% load static %}
{% block contenido %}



    <div class="bk">
        <div class="container-form">
            <h1 class="centrado">Busqueda de archivos Procesados</h1>
            <div class="inputs-form-inicio">

                <form action="">
                    <div class="input-wrapper">
                        <input class="input" name="text" placeholder="Cliente" id = "numCliente" type="text">
                    </div>
                    



                    <div class="content-select">
                        <select id="sucursal">
                            <option selected>Sucursal...</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                        <i></i>
                    </div>
                        
   

                    <button  id="buscarDocs" type="submit" class="btn-buscar">Buscar</button>
                </form>

            </div>

            <div class="container-table">
                <div class="table-responsive">
                    <h2 class="centrado">Archivos procesados</h2>
                    <div class="tbl-header">
                        <table cellpadding="0" cellspacing="0" border="0">
                          <thead>
                            <tr>
                                {% comment %} <th >#</th> {% endcomment %}
                                <th class="centrado">Folio</th>
                                <th class="centrado">Sucursal</th>
                                <th class="centrado">Fecha Procesado</th>
                                <th class="centrado">Documento</th>

                                {% comment %} <th >Rut cliente</th> {% endcomment %}
                            </tr>
                          </thead>
                        </table>
                    </div>
                    <div class="tbl-content">
                        <table class="table table-striped" cellpadding="0" cellspacing="0" border="0">
                            <tbody id = "tbodyProcessed">
                                {% comment %} <tr>
                                    <td>AAC</td>
                                    <td>AUSTRALIAN COMPANY </td>
                                    <td>$1.38</td>
                                    <td>+2.01</td>
                                    <td>-0.36%</td>
                                </tr> {% endcomment %}
                                                          
                                {% comment %} <td class="centrado"> 1 </td> {% endcomment %}
  

                         
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



        </div>

    </div>
    <script type="text/javascript" src="{% static 'js/processedDocs.js' %}"></script>



    
{% endblock %}