{% extends 'frontend/base.html' %} {% load static %} {% block contenido %}


<div class="bk">


    <div class="container-form1">
        <div class="login-container">
            <form action="" id="form-cliente" class="form-cont">
                <div class="form-reg">
                    <h1>Registro plantillas</h1>
                    <div class="separadorcen"></div>
                    <div class="form-cli">
                        <input class="input-registro" type="text" name="nomuser" id="id" required><span class="barra"></span>
                        <label class="label-registro" for="">Identificador(ID)</label>
                    </div>
                    <div class="form-cli">
                        <input class="input-registro" type="text" name="emailuser" id="nom_doc" required><span class="barra"></span>
                        <label class="label-registro" for="">nombre de plantilla</label>
                    </div>
                    <div class="form-cli">
                        <!--<h6>Queries</h6>  (monse ayuda con esto no alcanza la altura del registro y se oculta la sucursales)-->
                        <label class="" for=""> <h6>Queries</h6></label>
                        <input class="input-registro" type="file" name="Queries" id="queries_config" required><span class="barra"></span>
                    </div>
                    <div class="form-cli">
                        <label class="" for=""><h6>Tablas</h6></label>
                        <input class="input-registro" type="file" name="Tablas" id="tablas_config" required><span class="barra"></span>
                    </div>
                    <div class="form-cli">
                        <div class="input-wrapper">
                            <input class="input" name="sdate" id="fecha_creacion" type="date">
                        </div>
                    </div>
                    <!--para el proveedor consultamos a los proveedores-->
                    <div class="content-select">
                        <select id="proveedor" name="proveedor">
                                <option value="0">Ingresar proveedor</option>
                                <option value="1">ENEL_V1</option>
                                <option value="2">AGUAS ANDINAS_V1</option>
                                <option value="3">ABASTIBLE_V1</option>
                                <option value="4">AGUAS DE ANTOGAFASTA_V1</option>
                                <option value="5">ENEL_V2</option>
                                <option value="6">CGE_V1</option>
                                <option value="7">EMPRESAS LIPIGAS_V1</option>
                                <option value="8">EDELMAG_V1</option>
                                <option value="9">EDELAYSEN_V1</option>
                                <option value="10">FRONTEL_V1</option>
                                <option value="11">CHILQUINTA_V1</option>
                            </select>
                        <i></i>
                    </div>
                    <button id="btn-registrar" type="submit" class="btn-registrar">Registrar</button>
                </div>
            </form>
            <img class="image-container" src={% static 'img/registro.svg' %} alt="login">
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/registroplantillas.js' %}"></script>
{% endblock %}