{% extends 'frontend/base.html' %} {% load static %} {% block contenido %}

<div class="bk">


    <div class="container-form1">
        <div class="login-container">
            <form action="" id="form-cliente" class="form-cont">
                <div class="form-reg">
                    <h1>Registro Sucursales</h1>
                    <div class="separadorcen"></div>
                    <div class="form-cli">
                        <input class="input-registro" type="text" name="nomuser" id="id" required><span class="barra"></span>
                        <label class="label-registro" for="">Identificador(ID)</label>
                    </div>
                    <div class="form-cli">
                        <input class="input-registro" type="text" name="emailuser" id="nom_sucursal" required><span class="barra"></span>
                        <label class="label-registro" for="">nombre de sucursal</label>
                    </div>
                    <div class="form-cli">
                        <input class="input-registro" type="text" name="passuser" id="direccion" required><span class="barra"></span>
                        <label class="label-registro" for="">direccion</label>
                    </div>
                    <div class="form-cli">
                        <input class="input-registro" type="text" name="celuser" id="comuna" required><span class="barra"></span>
                        <label class="label-registro" for="">comuna</label>
                    </div>
                    <div class="content-select">
                        <select id="rol" name="rol">
                                <option value="0">Ingresar Cliente</option>
                                <option value="1">CLINICA BUPA</option>
                                <option value="3">BANCO DEL ESTADO</option>
                                <option value="9">Test_2</option>
                            </select>
                        <i></i>
                    </div>
                    <button id="btn-registrar" type="submit" class="btn-registrar">Registrar</button>
                </div>
            </form>
            <img class="image-container" src={% static 'img/registro.svg' %} alt="login">
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/sucursal_registro.js' %}"></script>


{% endblock %}